[Unit]
Description=Voila

[Service]
Type=Simple
PIDFile=/run/voila.pid
ExecStart=/link/to/voila.sh
User=someUser
WorkingDirectory=<repository location>
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
